<%- include('../layout/Header') %>
<%- include('../layout/Navbar') %>

<div class="container">
  <div class="row">
    <div class="col-6 d-grid">
      <div>
        <h1 class="fs-10"><%= plant.name %></h1>
        <p class="text-black-50 fs-5">Description: this plant belongs to <%= plant.description %> category</p>
        <p class="fs-5">Price: $<%= plant.price.toFixed(2) %></p>
      </div>
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="<%= plant._id %>">
        <button type="submit" class="btn btn-success fs-5 w-100">Add to Cart</button>
      </form>
  </div>
  <div class="col-6 plant-photo d-flex justify-content-end">
    <img src="/<%= plant.image %>" class="img"/>
  </div>
  </div>
</div>
<%- include('../layout/Footer') %>
